::-webkit-scrollbar {display:none;}

.container{
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  grid-auto-rows: 100vh;
  grid-template-areas: "menu-grid feed-grid trending-grid";
  overflow: auto;
}

.menu-grid{
  grid-area: menu-grid;
  display: flex;
  overflow: auto;
  justify-content: end;
}

.feed-grid{
  grid-area: feed-grid;
  display: grid;
  grid-template-rows: 1.2fr 5fr;
  grid-template-areas: "post"
                        "feed-news";
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
}

.post{
  grid-area: post;
  display: flex;
  border-bottom: 1px solid #2f3336;
}

.feed-news{
  grid-area: feed-news;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;

}

.trending-grid{
  grid-area: trending-grid;
  display: flex;
  justify-content: start;
  overflow: auto;
  margin-left: 25px;
  flex-direction: column;
}

.Sidebar{
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  /* background-color: aqua; */
}

.SidebarList{
  height: auto;
  width: 100%;
  padding: 0;
}

.SidebarList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: #fff;
  align-items: center;
  
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #181818;
  border-radius: 30px;
}

.row #icon{
  flex:30%;
  display: grid;
  place-items: center;
}
.row #title{
  flex: 70%;
}

.SidebarList .row-logo {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: #fff;
  align-items: center;
}

.row-logo #icon-logo{
  flex:30%;
  display: grid;
  place-items: center;
}
.row-logo #title-logo{
  flex: 70%;
}

.SidebarButton {
  display: flex;
  justify-content: center;
  
}

.SidebarButton .tweet-button{
  width: 100%;
  border-radius: 30px;
  padding: 12px;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: bold;
  text-transform: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.SidebarProfile{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;

}

.SidebarProfileBox:hover{
  cursor: pointer;
  background-color: #181818;
  border-radius: 30px;
}


.SidebarProfile .SidebarProfileBox{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-gap: 20px;
  padding: 10px;
  align-items: center;
}

.SidebarProfileTextName{
  font-size: 15px;
  font-weight: bold;
}

.SidebarProfileTextNickname{
  font-size: 15px;
  color: #71767b;
}

.post-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.post-title-box{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.post-title{
  font-weight: bold;
}

.post-tweet-text-box{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.post-tweet-text{
  width: 100%;
}

.post-tweet-text .text{
  color:#71767b;
  margin-top: 5px;
  margin-bottom: 15px;
}
.post-tweet-text .buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.small-buttons{
  color:#1d9bf0;
  width: 35%;
  display: flex;
  justify-content: space-between;
}

.buttons .tweet-button{
  border-radius: 30px;
  font-weight: bold;
  text-transform: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.post-tweet-text .settings{
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
  color:#1d9bf0;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #2f3336;
}

.post-tweet-text .settings .settins-icon{
  margin-left: 10px;
}

.post-button-box{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.post-tweet-photo{
  margin-right: 15px;
}

.search{
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
}

.search input{
  background-color: #202327;
  border: 0;
  margin-left: 5px;
  margin-top: 5px;
  width: 320px;
  height: 20px;
  padding: 12px;
  border-radius: 30px;
  color:#fff;
  font-size: 15px;
}

.trending-fake-box{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 320px;
  height: 50%;
  border-radius: 30px;
  padding: 12px;
  background-color: #202327;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

.feed-box{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #2f3336;

}

.feed-tweet-all-info{
  display: flex;
  flex-direction: column;
  margin: 5px;
  font-size: 16px;
  width: 100%;
  margin-right: 20px;
}

.feed-tweet-profile-photo{
  margin: 10px;
}

.media img{
  width: 100%;
  height: 100%;
  max-height: 500px;
  max-width: 600px;
  min-height: 300px;
  border-radius: 20px;
  border: 1px solid #2f3336;
  object-fit: scale-down;

}



.video-box video{
  width: 100%;
  height: 100%;
  max-height: 500px;
  max-width: 600px;
  min-height: 300px;
  border-radius: 20px;
  border: 1px solid #2f3336;
  object-fit: scale-down;

}

.name-nickname-box{
  display: flex;
  flex-direction:row ;
}

.name-nickname-box .name{
  font-weight: bold;
  margin-right: 5px;
}

.name-nickname-box .nickname{
  color:#71767b
}

.utility{
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-between;
  align-content: center;
  margin-top: 5px;
  color: #63676c;
  margin: 5px;
  width: 80%;
}

.feed-tweet-all-info .text{
  margin-bottom: 5px;
}

.utility .reply{
  display: flex;
  flex-direction: row;
}

.utility .retweet{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.utility .like{
  display: flex;
  flex-direction: row;
  align-items: center;
}

@keyframes float{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(750px);
  }
  100%{
    transform: translateY(0);
  }
}

@media (max-width: 1300px  ){
  
  .row #title{
    display: none;
  }
  .row-logo #title-logo{
    display: none;
  }

  .Sidebar{
    min-width: 100px;
  }

  .container{
    display: grid;
    grid-template-columns: 100px 600px 1fr;
    grid-auto-rows: 100vh;
    grid-template-areas: "menu-grid feed-grid trending-grid";
    overflow: auto;
  }

  .SidebarProfileText{
    display: none;
  }

  .SidebarProfileMore{
    display: none;
  }
  
  .SidebarProfile .SidebarProfileBox {
    display: flex;
    justify-content: center;
    width: 100%;
}

  

}

@media (max-width: 1020px  ){
  .trending-fake-box{
    display: none;
   }

   .container{
    display: grid;
    grid-template-columns: 100px 1fr 200px;
    grid-auto-rows: 100vh;
    grid-template-areas: "menu-grid feed-grid trending-grid";
    overflow: auto;
  }

  .search input{
    width: 120px;
  }
}







